{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
    {{ super() }}
<link href="{{ url_for('static', filename='/css/styles.css') }}" rel="stylesheet" />
{% endblock styles %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

<table class="table table-hover">
    <thead>
    <tr>
        {% for heading in cafes[0] %}
            <th scope="col">{{ heading }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
        {% for cafe_details in cafes[1:] %}
            <tr>
                <td>{{ cafe_details[0] }}</td>
                <td><a href="{{ cafe_details[1] }}" target="_blank">Maps Link</a></td>
                <td>{{ cafe_details[2] }}</td>
                <td>{{ cafe_details[3] }}</td>
                <td>{{ cafe_details[4] }}</td>
                <td>{{ cafe_details[5] }}</td>
                <td>{{ cafe_details[6] }}</td>
            </tr>
        {% endfor %}
</table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
